In [17]:
pip install pandas lxml

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: lxml in /opt/anaconda3/lib/python3.12/site-packages (5.3.0)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [23]:
import pandas as pd

# URL of the Wikipedia page
url = "https://en.wikipedia.org/wiki/List_of_actors_with_Academy_Award_nominations"

# Read all tables from the webpage
tables = pd.read_html(url)

# Assuming the first table is the one we need
df = tables[1]

# Display the first few rows of the DataFrame
df.head()

,Actor,Unnamed: 1,Born,Died,Age,Nomina- tions,Wins,Lead and sup- porting details,First winning film role or first nomination (also see list of all nominated roles),First year,Last year
0,Barkhad Abdi,M,1985,~,40,1,0,S,Captain Phillips,2013,2013
1,F. Murray Abraham,M,1939,~,85,1,1,L,Amadeus,1984,1984
2,Amy Adams,F,1974,~,50,6,0,1L:5S,American Hustle,2005,2018
3,Nick Adams,M,1931,1968,36,1,0,S,Twilight of Honor,1963,1963
4,Isabelle Adjani,F,1955,~,69,2,0,L,The Story of Adele H.,1975,1989

In [27]:
df.tail()

,Actor,Unnamed: 1,Born,Died,Age,Nomina- tions,Wins,Lead and sup- porting details,First winning film role or first nomination (also see list of all nominated roles),First year,Last year
988,Gig Young,M,1913,1978,64,3,1,S,"They Shoot Horses, Don't They?",1951,1969
989,Loretta Young,F,1913,2000,87,2,1,L,The Farmer's Daughter,1947,1949
990,Roland Young,M,1887,1953,65,1,0,S,Topper,1937,1937
991,Ren√©e Zellweger,F,1969,~,55,4,2,3L1:1S1,Judy [w 45],2001,2019
992,Catherine Zeta-Jones,F,1969,~,55,1,1,S,Chicago,2002,2002