In [57]:
import pandas as pd
import unicodedata
import re

In [59]:
!pwd

'pwd' is not recognized as an internal or external command,
operable program or batch file.

In [61]:
df=pd.read_csv('../data/master_oscar.csv', encoding='ISO-8859-1')
df.head()

,ceremony_year,ceremony,award_category,name,film,status
0,2025,97th,Actor in a Leading Role,Adrien Brody,The Brutalist,Won
1,2025,97th,Actor in a Supporting Role,Kieran Culkin,A Real Pain,Won
2,2025,97th,Actress in a Leading Role,Mikey Madison,Anora,Won
3,2025,97th,Actress in a Supporting Role,Zoe Saldaa,Emilia Perez,Won
4,2025,97th,Animated Feature Film,"Gints Zilbalodis, Mat_ss Ka_a, Ron Dyens and G...",Flow,Won

In [63]:
"""def clean_all_text(text):
    if not isinstance(text, str):
        return text
    text = re.sub(r'[\x80-\x9f\xa0]', ' ', text)
    text = unicodedata.normalize('NFKD', text)
    text = text.encode('ascii', 'ignore').decode('ascii')
    text = re.sub(r'[^\x00-\x7F]+', '', text)
    text = re.sub(r'\s+', ' ', text).strip()
    return text
"""

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\swath\AppData\Local\Temp\ipykernel_37572\1073782753.py:1: SyntaxWarning: invalid escape sequence '\s'
  """def clean_all_text(text):

"def clean_all_text(text):\n    if not isinstance(text, str):\n        return text\n    text = re.sub(r'[\x80-\x9f\xa0]', ' ', text)\n    text = unicodedata.normalize('NFKD', text)\n    text = text.encode('ascii', 'ignore').decode('ascii')\n    text = re.sub(r'[^\x00-\x7f]+', '', text)\n    text = re.sub(r'\\s+', ' ', text).strip()\n    return text\n"

In [65]:
"""def clean_all_text(text):
    if not isinstance(text, str):
        return text
        
    # Replace specific Unicode characters with a space
    text = re.sub(r'[\x80-\x9f\xa0]', ' ', text)
    
    # Normalize to decompose characters (e.g., é -> e +  ́)
    text = unicodedata.normalize('NFKD', text)
    
    # If a character can’t be encoded in ASCII (like é, ü, ç), just drop it.
    text = text.encode('ascii', 'ignore').decode('ascii')
    
    # Remove any remaining non-ASCII characters (shouldn't be many left)
    text = re.sub(r'[^\x00-\x7F]', '', text)
    
    # Collapse multiple spaces into one and trim
    text = re.sub(r'\s+', ' ', text).strip()
    
    return text
    """

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\swath\AppData\Local\Temp\ipykernel_37572\3431385212.py:1: SyntaxWarning: invalid escape sequence '\s'
  """def clean_all_text(text):

"def clean_all_text(text):\n    if not isinstance(text, str):\n        return text\n        \n    # Replace specific Unicode characters with a space\n    text = re.sub(r'[\x80-\x9f\xa0]', ' ', text)\n    \n    # Normalize to decompose characters (e.g., é -> e +  ́)\n    text = unicodedata.normalize('NFKD', text)\n    \n    # If a character can’t be encoded in ASCII (like é, ü, ç), just drop it.\n    text = text.encode('ascii', 'ignore').decode('ascii')\n    \n    # Remove any remaining non-ASCII characters (shouldn't be many left)\n    text = re.sub(r'[^\x00-\x7f]', '', text)\n    \n    # Collapse multiple spaces into one and trim\n    text = re.sub(r'\\s+', ' ', text).strip()\n    \n    return text\n    "

In [67]:
def clean_all_text(text):
    if not isinstance(text, str):
        return text
        
    # REMOVE problematic Unicode control characters (not replace with space)
    text = re.sub(r'[\x80-\x9f\xa0]', '', text)
    
    # Normalize to decompose characters (é → e +  ́)
    text = unicodedata.normalize('NFKD', text)
    
    # If a character can’t be encoded in ASCII (like é, ü, ç), just drop it.
    text = text.encode('ascii', 'ignore').decode('ascii')
    
    # Remove leftover non-ASCII characters, if any
    text = re.sub(r'[^\x00-\x7F]', '', text)
    
    # Collapse multiple spaces and trim
    text = re.sub(r'\s+', ' ', text).strip()
    
    return text

In [69]:
# Apply to every cell in the DataFrame using `apply` across columns
df_cleaned = df.apply(lambda col: col.map(clean_all_text))
df_cleaned

,ceremony_year,ceremony,award_category,name,film,status
0,2025,97th,Actor in a Leading Role,Adrien Brody,The Brutalist,Won
1,2025,97th,Actor in a Supporting Role,Kieran Culkin,A Real Pain,Won
2,2025,97th,Actress in a Leading Role,Mikey Madison,Anora,Won
3,2025,97th,Actress in a Supporting Role,Zoe Saldaa,Emilia Perez,Won
4,2025,97th,Animated Feature Film,"Gints Zilbalodis, Mat_ss Ka_a, Ron Dyens and G...",Flow,Won
...,...,...,...,...,...,...
10977,1928,1st,Writing (Title Writing),Gerald Duffy,The Private Life of Helen of Troy,Nominated
10978,1928,1st,Writing (Title Writing),Joseph Farnham,NaN,Won
10979,1928,1st,Writing (Title Writing),"George Marion, Jr.",NaN,Nominated
10980,1928,1st,Special Award,Warner Bros.,NaN,Won
10981,1928,1st,Special Award,Charles Chaplin,NaN,Won

In [71]:
df2 =  pd.read_csv("../data/Oscar_Nominations_Winners.csv")

In [73]:
df2.head()

,Position,Const,Created,Modified,Description,Title,Original Title,URL,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors
0,1,tt0018578,2021-03-25,2021-03-25,NaN,Wings,Wings,https://www.imdb.com/title/tt0018578/,Movie,7.5,144.0,1927,"Drama, Romance, War, Action",15336,1929-01-05,"William A. Wellman, Harry d'Abbadie d'Arrast"
1,2,tt0019304,2021-03-25,2021-03-25,NaN,The Racket,The Racket,https://www.imdb.com/title/tt0019304/,Movie,6.6,84.0,1928,"Crime, Drama, Film-Noir",1727,1928-11-01,Lewis Milestone
2,3,tt0018379,2021-03-25,2021-03-25,NaN,7th Heaven,7th Heaven,https://www.imdb.com/title/tt0018379/,Movie,7.5,110.0,1927,"Drama, Romance",4403,1927-10-30,Frank Borzage
3,4,tt0018455,2021-03-25,2021-03-25,NaN,Sunrise,Sunrise: A Song of Two Humans,https://www.imdb.com/title/tt0018455/,Movie,8.1,94.0,1927,"Drama, Romance",55269,1927-11-04,F.W. Murnau
4,5,tt0017743,2021-03-25,2021-03-25,NaN,Chang: A Drama of the Wilderness,Chang: A Drama of the Wilderness,https://www.imdb.com/title/tt0017743/,Movie,6.8,69.0,1927,"Documentary, Adventure, Drama",1188,1927-09-03,"Merian C. Cooper, Ernest B. Schoedsack"